@using BotManager.Api.Data.Entities;
@using BotManager.Api.Data.Entities;

@model List<BotProfile>
@{
    Layout = "_Layout";
}


<div class="container">
    <div class="container-fluid">
        <div class="row">
            @foreach (BotProfile profile in Model)
            {
                int totalKills = profile.Activity.Sum(x => x.KillsDone);
                var todaysActivity = profile.Activity
                .Where(x => x.Date == DateTime.Today)
                .FirstOrDefault() ?? new BotActivity();

                <div class="col-sm">
                    <div class="card">
                        <h2 class="card-title">
                            @profile.Name
                        </h2>
                        <p> @totalKills kills logged</p>
                        <p> @todaysActivity.KillsDone / 60 daily kills done</p>
                        <br />
                        <div class="text ">
                            <a href="/bot/@profile.Name" class="btn w-full">View activity</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>